.btnSwiper {
	@include btnClear;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: $color-white;
	color: $color-text;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);

	&.swiper-button-disabled {
		color: $color-gray-mid;
		background-color: $color-gray-light;
		cursor: default;
	}

	&:active {
		box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
	}
}
